@model FA.JustBlog.Core.Models.Posts

@{
    ViewData["Title"] = @Model.Title;
}


<div class="post-heading">
    <h1>@Model.Title</h1>
    <h2 class="subheading">@Model.ShortDescription</h2>
    <span class="meta">
        Posted by
        on @Model.PostedOn.GetPrettyDate()
    </span>
</div>
@*<header class="masthead">
    <div class="position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

            </div>
        </div>
    </div>
</header>*@
<!-- Post Content-->
<article class="mb-4">
    <div class="px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                   @Model.PostContent
            </div>
        </div>
    </div>
</article>